*.dll
*.pdb
*.suo

client/bin
client/node_modules
client/vendor
#select2 has a manual path change
!client/vendor/select2
client/build

server/**/bin/**
server/**/obj/**
server/.nuget/*
server/packages/*/**



/server/Api.sln.DotSettings.user

/server/Api/Web.config
/server/Api/Web.live.config
/server/Api/Web.local.config
/server/Api/Web.uat.config

/client/protractor/selenium/chromedriver.exe

*.csproj.user

/server/_NCrunch_Api

*/*.ncrunchsolution.user
